<section class="scientist-area pt-100 bg-about-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="scientist-box-list">
                    <div class="row">
                    </div>
                    <img src="assets/img/homebanner.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="scientist-section-title" *ngFor="let SectionTitle of scientistSectionTitle;">
                    <span class="sub-title"><img src="assets/img/star-icon.png" alt="image"> {{SectionTitle.subTitle}}</span>
                    <h2>{{SectionTitle.title}}</h2>
                    <p>{{SectionTitle.paragraphText1}}</p>
                    <p>{{SectionTitle.paragraphText2}}</p>
                    </div>
            </div>
        </div>
    </div>

    <div class="vector-shape4"><img src="assets/img/shape/vector-shape4.png" alt="image"></div>
</section>
<app-about-value></app-about-value>
<app-about-us-why></app-about-us-why>
