<section class="page-title-area">
    <div class="container" style="text-align: justify;">
        <div class="termandcond">
            <h2 class="term">Website disclaimer</h2>
            <br>
            <div>
                <div>
                    <h4>Introduction</h4>
                    <div style="margin:2%;" class="shadow-none p-4 mb-4 bg-light">
                        <p>The information provided by Speak Refine (Lurecap Market Science Private Limited) on
                            speakrefine.com is for general informational purposes only. All information on the Site is
                            provided in good faith, however we make no representation or warranty of any kind, express
                            or implied, regarding the accuracy, adequacy, validity, reliability, availability, or
                            completeness of any information on the Site.</p>
                        <p>Under no circumstance shall we have any liability to you for any loss or damage of any kind
                            incurred as a result of the use of the site or reliance on any information provided on the
                            site. Your use of the site and your reliance on any information on the site is solely at
                            your own risk.
                        <p>
                    </div>
                </div>
                <div id="communication">
                    <h4>External links disclaimer</h4>
                    <div style="margin:2%;" class="shadow-none p-4 mb-4 bg-light">
                        <p>The Site may contain (or you may be sent through the Site) links to other websites or content
                            belonging to or originating from third parties or links to websites and features. Such
                            external links are not investigated, monitored, or checked for accuracy, adequacy, validity,
                            reliability, availability or completeness by us.</p>
                        <p>We do not warrant, endorse, guarantee, or assume responsibility for the accuracy or
                            reliability of any information offered by third-party websites linked through the site or
                            any website or feature linked in any banner or other advertising. We will not be a party to
                            or in any way be responsible for monitoring any transaction between you and third-party
                            providers of products or services.</p>
                    </div>
                </div>
                <div id="purchase">
                    <h4>Professional disclaimer</h4>
                    <div style="margin:2%;" class="shadow-none p-4 mb-4 bg-light">
                        <p>The Site cannot and does not contain financial advice. The information is provided for
                            general informational and educational purposes only and is not a substitute for professional
                            financial advice. Accordingly, before taking any actions based upon such information, we
                            encourage you to consult with the appropriate professionals. We do not provide any kind of
                            financial advice.</p>
                        <p>Content published on akslimited.com is intended to be used and must be used for informational
                            purposes only. It is very important to do your own analysis before making any decision based
                            on your own personal circumstances. You should take independent financial advice from a
                            professional or independently research and verify any information that you find on our
                            Website and wish to rely upon.</p>
                        <p>THE USE OR RELIANCE OF ANY INFORMATION CONTAINED ON THIS SITE IS SOLELY AT YOUR OWN RISK.</p>
                    </div>
                </div>
                <div id="csp">
                    <h4>Testimonials disclaimer</h4>
                    <div style="margin:2%;" class="shadow-none p-4 mb-4 bg-light">
                        <p>The Site may contain testimonials by users of our products and/or services. These
                            testimonials reflect the real-life experiences and opinions of such users. However, the
                            experiences are personal to those particular users, and may not necessarily be
                            representative of all users of our products and/or services. We do not claim, and you should
                            not assume that all users will have the same experiences. Your individual results may vary.
                        </p>
                        <p>The testimonials on the Site are submitted in various forms such as text, audio and/or video,
                            and are reviewed by us before being posted. They appear on the Site verbatim as given by the
                            users, except for the correction of grammar or typing errors. Some testimonials may have
                            been shortened for the sake of brevity, where the full testimonial contained extraneous
                            information not relevant to the general public.</p>
                        <p>The views and opinions contained in the testimonials belong solely to the individual user and
                            do not reflect our views and opinions.</p>
                    </div>
                </div>
                <div>
                    <h4>Errors and omissions disclaimer</h4>
                    <div style="margin:2%;" class="shadow-none p-4 mb-4 bg-light">
                        <p>While we have made every attempt to ensure that the information contained in this site has
                            been obtained from reliable sources, Lurecap Market Science Private Limited is not
                            responsible for any errors or omissions or for the results obtained from the use of this
                            information. All information in this site is provided “as is”, with no guarantee of
                            completeness, accuracy, timeliness or of the results obtained from the use of this
                            information, and without warranty of any kind, express or implied, including, but not
                            limited to warranties of performance, merchantability, and fitness for a particular purpose.
                        </p>
                        <p>In no event will Lurecap Market science Private Limited, its related partnerships or
                            corporations, or the partners, agents or employees thereof be liable to you or anyone else
                            for any decision made or action taken in reliance on the information in this Site or for any
                            consequential, special or similar damages, even if advised of the possibility of such
                            damages.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>