<section class="courses-area bg-fafafb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" ></div>
            <div class="col-lg-4 col-md-6" >
                <div class="single-courses-box">
                    <div class="courses-image">

                        <a herf ="https://pmny.in/yIjnFcbsw2we" class="d-block image">
                            <img src="assets/img/offer.png " alt="image">
                        </a>
                    </div>
                    <div class="courses-content">
                        <center>
    
                            <h3><a
                                    href="https://pmny.in/yIjnFcbsw2we" class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms"><b>Get all courses</b></a>
                            </h3>
                            <p>@ </p>
                            <h3 class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">₹ 4999</h3>
                            <div class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">
                                <a href="https://pmny.in/yIjnFcbsw2we" class="default-btn style">
                                 Buy Now<span></span>
                             </a>
                             </div>
                            <!-- <bar-rating></bar-rating> -->
                        </center>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" ></div>
        </div>
    </div>
</section>