$white: #fff;
$primary-color: #221638;
$color2:#45414c;
$secondary-color:#9072c8;
$black:#000; 


  .offerzone {
    margin-bottom: 30px;
    text-align: center;

    .project-start-image {
     
        margin-left: auto;
        margin-right: auto;
    }
    .offertext{
        margin-top: 150px;

        h3 {
            color: $primary-color;
            margin-bottom: 12px;
            
            font: {
                size: 18px;
            };
        }
        P{
            color: $secondary-color;
        }
    }
    
}

  @media only screen and (max-width: 767px) {

    .offerzone {
      text-align: center;
  
      .project-start-image {
       
          margin-left: auto;
          margin-right: auto;
      }
      .offertext{
          margin-top: 60px;
  
          h3 {
              color: $primary-color;
              margin-bottom: 12px;
              
              font: {
                  size: 14px;
              };
          }
          P{
              color: $secondary-color;
          }
      }
      
  }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  
  }
  
  