<section class="services-area pt-100 pb-70 bg-e3fbff">
    <div class="container">
        <div class="section-title col-lg-12" *ngFor="let sectionTitleContent of sectionTitle;">
            <span class="sub-title"><img src="assets/img/star-icon.png" alt="image"> {{sectionTitleContent.subTitle}}</span>
            <h2 class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">{{sectionTitleContent.title}}</h2>
            <p class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">{{sectionTitleContent.paragraphText}}</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let ServicesItem of singleServicesItem;">
                <div class="single-services-item">
                    <div class="icon">
                       <img [src]="ServicesItem.icon" alt="image" class="wow fadeInDown" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true"> 
                    </div>
                    <h3><a routerLink="/{{ServicesItem.link}}">{{ServicesItem.title}}</a></h3>
                    <p class="wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1000ms">{{ServicesItem.paragraphText}}</p>
                    <div class="shape1"><img src="assets/img/services/shape1.png" alt="image"></div>
                    <div class="shape2"><img src="assets/img/services/shape2.png" alt="image"></div>
                </div>
            </div>
        </div>
    </div>
</section>
