<footer class=colorbg>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="assets/img/logow.png" alt="logo">
                    </a>
                    <p>Speak Refine welcomes you to our share market trading training classes. We have best trainers who are highly qualified and experienced and have relevant industry exposure in their fields of expertise, capable of solving all your practical queries.</p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="/about-us">About</a></li>
                        <li><a routerLink="/case-studies-2-columns">Course</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Resources</h3>
                    <ul class="footer-links-list">
                        <li><a routerLink="/blog-1">Community</a></li>
                        <li><a routerLink="/contact">Contact us</a></li> 
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Connect with Us</h3>
                    <ul class="footer-contact-info">
                        <!-- <li><i class='bx bx-map'></i>175 5th Ave, New York, NY 10010, United States</li> -->
                         <!-- <li><i class='bx bxs-inbox'></i><a href="tel:+557854578964">+55 785 4578964</a></li> -->
                        <li><i class='bx bx-envelope'></i><a href="mailto:hello@wilo.com">academy@speakrefine.com</a></li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+44587154756">+91-9487427429</a></li>
                    </ul>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                    
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <p><i class='bx bx-copyright'></i>2020 All rights reserved | Proudly Powered by <a target="_blank" href="https://envytheme.com/">lurecap Market Science Pvt Ltd</a></p>
                </div>
               
                <div class="col-lg-4 col-md-4">
                    <ul>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/terms-of-service">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

   </footer>

<div class="go-top"><i class="flaticon-up"></i></div>
