<section class="courses-details-area pb-100">

    <div class="container">
        <div class="row">

            <div class="col-lg-8  col-md-12">
                <div class="courses-details-image">
                    <div class="embed-responsive embed-responsive-16by9 ">
                        <iframe class="embed-responsive-item" [src]="this.videoUrl"
                            width="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            
                    </div>
                   
                </div>
                <div class="d-block d-sm-none">
                    <div class="courses-details-info ">
                        <img src="{{currentCourseDetails.courseDetails.imageUrl}}" class="image-size d-none d-sm-block "
                            alt="image">

                        <ul class="info">

                            <li class="price">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-price-tag"></i> Price</span>
                                    <span
                                        *ngIf="currentCourseDetails.courseDetails.courseAmount!=0 && currentCourseDetails.courseDetails.dicountAmount==0; ">₹
                                        {{currentCourseDetails.courseDetails.courseAmount}}
                                    </span>
                                    <span
                                        *ngIf="currentCourseDetails.courseDetails.dicountAmount!=0 && currentCourseDetails.courseDetails.courseAmount!=0 ;">₹
                                        {{currentCourseDetails.courseDetails.dicountAmount}} <del
                                            class="discount-style">₹{{currentCourseDetails.courseDetails.courseAmount}}
                                        </del>
                                    </span>
                                    <span *ngIf="currentCourseDetails.courseDetails.courseAmount==0 ;"
                                        class="free">FREE</span>
                                </div>
                            </li>

                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-distance-education"></i> Lessons</span>
                                    {{currentCourseDetails.chapterCount}}
                                </div>
                            </li>

                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-web"></i> Enrolled</span>
                                    {{currentCourseDetails.courseDetails.userCount}}+students
                                </div>
                            </li>

                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-open-padlock"></i> Access</span>
                                    1 year
                                </div>
                            </li>

                        </ul>

                        <div class="btn-box">
                            <a href="/signup" class="default-btn"><i class="flaticon-price-tag"></i>Buy
                                Now<span></span></a>

                        </div>
                    </div>
                </div>
                <h3 class="coursename">{{currentCourseDetails.courseDetails.courseName}}</h3>
                <p [innerHtml]="currentCourseDetails.courseDetails.provideWhat" ></p>
                <div class="courses-details-desc">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="overview-tab" data-toggle="tab"
                                href="#overview" role="tab" aria-controls="overview">Description</a></li>
                        <li class="nav-item"><a class="nav-link" id="curriculum-tab" data-toggle="tab"
                                href="#curriculum" role="tab" aria-controls="curriculum">Curriculum</a></li>
                        <li class="nav-item"><a class="nav-link" id="instructor-tab" data-toggle="tab"
                                href="#instructor" role="tab" aria-controls="instructor">Instructor</a></li>
                        <li class="nav-item"><a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews"
                                role="tab" aria-controls="reviews">Reviews</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel">
                            <div class="courses-overview">
                                <p [innerHtml]="currentCourseDetails.courseDetails.description"></p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="curriculum" role="tabpanel">
                            <div class="courses-curriculum">
                                <ul>
                                    <li *ngFor="let chapters of currentCourseDetails.chapters">
                                        <a class="d-flex justify-content-between align-items-center">
                                            <span class="courses-name">{{chapters.chapterName}}</span>
                                            <div class="courses-meta">

                                                <span class="duration">{{chapters.hours}}</span>

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="instructor" role="tabpanel">
                            <div class="courses-instructor">
                                <div class="single-advisor-box">
                                    <div class="advisor-content">
                                        <div class="course-author d-flex ">
                                            <img src="assets/img/630740-200.jpg" class="rounded-circle" alt="image">
                                            <ul>
                                                <li>
                                                    <span>{{currentCourseDetails.courseDetails.tutorName}}</span>
                                                </li>
                                                <li>
                                                    English Expert
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="sub-title tutor-font">Amal J Eronimus is having a motto to be a
                                            better human being. an author, orator, student counselor, musician, trainer,
                                            translator, cum professor in english. having worked in maldives for 7 years
                                            as vice principal cum english teacher, served in media at manila,
                                            philippines. gained administrative skills offered an opportunity to possess
                                            the post of principal in shimoga, karnataka for five years.</span>
                                        <span class="sub-title tutor-font">Authored five books cum a translative work.
                                            published articles in magazines and journals with isbn and issn numbers.
                                            having research under comparative literature, author of six books cum a
                                            translative work published on eranial palace in tamil. working on differnt
                                            projects under humanistic approaches and guiding students with value based
                                            teaching for their future career.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="row">
                                <div class="courses-reviews col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                    <!-- <span>Learner Feedback </span> -->
                                    <div class="rating-count align-items-center">
                                        <span>{{currentReviewDetails.averageRating}}</span>
                                        <div class="bar">
                                            <bar-rating [rate]="currentReviewDetails.averageRating" [readOnly]="true"></bar-rating>
                                        </div>

                                    </div>
                                </div>
                                <div class=" courses-reviews col-lg-9 col-md-9 col-sm-8 col-xs-8">
                                    <div class="row">
                                        <!-- <div class="col-lg-3">
                                            <div>5 star</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <ngb-progressbar></ngb-progressbar>      
                                        </div>
                                        <div class="col-lg-3">
                                            <div>04</div>
                                        </div> -->
                                        <div class="side ">
                                            <div>5 star</div>
                                        </div>
                                        <div class="middle">
                                            <ngb-progressbar type="success" [max]="currentReviewDetails.totalRatingCount" [value]="currentReviewDetails.fiveRatingCount" [striped]="false" ></ngb-progressbar>
                                        </div>
                                        <div class="side right">
                                            <div>{{currentReviewDetails.fiveRatingCount}}</div>
                                        </div>

                                        <div class="side">
                                            <div>4 star</div>
                                        </div>
                                        <div class="middle">
                                            <ngb-progressbar type="primary" [max]="currentReviewDetails.totalRatingCount" [value]="currentReviewDetails.fourRatingCount" [striped]="false" ></ngb-progressbar>
                                        </div>
                                        <div class="side right">
                                            <div>{{currentReviewDetails.fourRatingCount}}</div>
                                        </div>

                                        <div class="side">
                                            <div>3 star</div>
                                        </div>
                                        <div class="middle">
                                            <ngb-progressbar type="info" [max]="currentReviewDetails.totalRatingCount" [value]="currentReviewDetails.threeRatingCount" [striped]="false" ></ngb-progressbar>
                                        </div>
                                        <div class="side right">
                                            <div>{{currentReviewDetails.threeRatingCount}}</div>
                                        </div>

                                        <div class="side">
                                            <div>2 star</div>
                                        </div>
                                        <div class="middle">
                                            <ngb-progressbar type="warning" [max]="currentReviewDetails.totalRatingCount" [value]="currentReviewDetails.twoRatingCount" [striped]="false" ></ngb-progressbar>
                                        </div>
                                        <div class="side right">
                                            <div>{{currentReviewDetails.twoRatingCount}}</div>
                                        </div>

                                        <div class="side">
                                            <div>1 star</div>
                                        </div>
                                        <div class="middle">
                                            <ngb-progressbar type="danger" [max]="currentReviewDetails.totalRatingCount" [value]="currentReviewDetails.oneRatingCount" [striped]="false" ></ngb-progressbar>
                                        </div>
                                        <div class="side right">
                                            <div>{{currentReviewDetails.oneRatingCount}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="reviewstyle col-md-12 col-sm-12 col-xs-12">
                                <h5>Wite A Review</h5>
                                <bar-rating [(rate)]="addReview.rating"></bar-rating>
                                <form>
                                    <div class="form-group">
                                        <textarea  (change)="doTextareaValueChange($event)"  [(ngModel)]='addReview.review' class="form-control" id="exampleFormControlTextarea1"
                                            placeholder="Say Whats in your mind" rows="3">{{addReview.review}}</textarea>
                                    </div>
                                </form>

                                <button type="submit" class="default-btn" *ngIf="currentUser" (click)="insertReview()">Submit<span></span></button>
                                <button type="submit" class="default-btn" *ngIf="!currentUser" (click)="loginAlert()">Submit<span></span></button>
                            </div>

                            <div class="courses-review-comments col-lg-12">

                                <div class="user-review" *ngFor="let userReview of currentCourseDetails.reviews">
                                    <span class="d-block sub-comment">{{userReview.userName}}</span>
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <bar-rating [(rate)]="userReview.rating" [readOnly]="true"></bar-rating>
                                        </div>
                                    </div>
                                    <p>{{userReview.review}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4  col-md-12  ">
                <div class="sticky-top cardfix">
                    <div class="courses-details-info d-none d-sm-block ">
                        <img src="{{currentCourseDetails.courseDetails.imageUrl}}" class="image-size" alt="image">

                        <ul class="info">

                            <li class="price">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-price-tag"></i> Price</span>
                                    <span 
                                        *ngIf="currentCourseDetails.courseDetails.courseAmount!=0 && currentCourseDetails.courseDetails.dicountAmount==0; ">₹
                                        {{currentCourseDetails.courseDetails.courseAmount}}
                                    </span>
                                    <span 
                                        *ngIf="currentCourseDetails.courseDetails.dicountAmount!=0 && currentCourseDetails.courseDetails.courseAmount!=0 ;">₹
                                        {{currentCourseDetails.courseDetails.dicountAmount}} <del
                                            class="discount-style">₹{{currentCourseDetails.courseDetails.courseAmount}}
                                        </del>
                                    </span>
                                    <span *ngIf="currentCourseDetails.courseDetails.courseAmount==0 ;"
                                        class="free">FREE</span>
                                </div>
                            </li>

                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-distance-education"></i> Lessons</span>
                                    {{currentCourseDetails.chapterCount}}
                                </div>
                            </li>

                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-web"></i> Enrolled</span>
                                    {{currentCourseDetails.courseDetails.userCount}}+students
                                </div>
                            </li>

                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-open-padlock"></i> Access</span>
                                    1 year
                                </div>
                            </li>

                        </ul>

                        <div class="btn-box">
                            <a href="/signup?courseid={{currentCourseId}}" [routerLink]="['/signup']" [queryParams]="{ courseid: currentCourseId }" class="default-btn"><i class="flaticon-price-tag"></i>Buy
                                Now<span></span></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



