<section class="courses-details-area pb-100">
   
    <div class="container">
        <div class="row">
            <div class="courses-details-image d-lg-none ">
                <img src="{{currentCourseDetails.courseDetails.imageUrl}}" class="image-size" alt="image">
            </div> 
            <div class="col-lg-4 order-md-2 col-md-12 ">
                <div class="sticky-top cardfix">
                    <div class="courses-details-info">
                        <div class="image">
                            <img src="{{currentCourseDetails.courseDetails.imageUrl}}" class="image-size" alt="image">
                            <a href="https://www.youtube.com/watch?v=PWvPbGWVRrU" class="link-btn popup-youtube"></a>
                            <div class="content">
                                <i class="flaticon-google-play"></i>
                                <span>Course Preview</span>
                            </div>
                        </div>
                        <ul class="info">
                            <li class="price">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-price-tag"></i> Price</span>
                                    <span
                                        *ngIf="currentCourseDetails.courseDetails.courseAmount!=0 && currentCourseDetails.courseDetails.dicountAmount==0; ">₹
                                        {{currentCourseDetails.courseDetails.courseAmount}}
                                    </span>
                                    <span
                                        *ngIf="currentCourseDetails.courseDetails.dicountAmount!=0 && currentCourseDetails.courseDetails.courseAmount!=0 ;">₹
                                        {{currentCourseDetails.courseDetails.dicountAmount}} <del
                                            class="discount-style">₹{{currentCourseDetails.courseDetails.courseAmount}}
                                        </del>
                                    </span>
                                    <span *ngIf="currentCourseDetails.courseDetails.courseAmount==0 ;"
                                        class="free">FREE</span>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-distance-education"></i> Lessons</span>
                                    {{currentCourseDetails.chapterCount}}
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-web"></i> Enrolled</span>
                                    {{currentCourseDetails.courseDetails.userCount}}+students
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="flaticon-open-padlock"></i> Access</span>
                                    1-year
                                </div>
                            </li>
                        </ul>
    
                        <div class="btn-box">
                            <a href="/signup" class="default-btn"><i class="flaticon-price-tag"></i>Buy
                                Now<span></span></a>
    
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-8 order-md-1 col-md-12">  
                <div class="courses-details-image d-lg-inline d-none">
                    <img src="{{currentCourseDetails.courseDetails.imageUrl}}" class="image-size" alt="image">
                </div>            
                    <h3 class="coursename">{{currentCourseDetails.courseDetails.courseName}}</h3>
                    <h6>{{currentCourseDetails.courseDetails.provideWhat}}</h6>
                <div class="courses-details-desc">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="overview-tab" data-toggle="tab"
                                href="#overview" role="tab" aria-controls="overview">Description</a></li>
                        <li class="nav-item"><a class="nav-link" id="curriculum-tab" data-toggle="tab"
                                href="#curriculum" role="tab" aria-controls="curriculum">Curriculum</a></li>
                        <li class="nav-item"><a class="nav-link" id="instructor-tab" data-toggle="tab"
                                href="#instructor" role="tab" aria-controls="instructor">Instructor</a></li>
                        <li class="nav-item"><a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews"
                                role="tab" aria-controls="reviews">Reviews</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel">
                            <div class="courses-overview">
                                <p>{{currentCourseDetails.courseDetails.description}}</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="curriculum" role="tabpanel">
                            <div class="courses-curriculum">
                                <ul>
                                    <li *ngFor="let chapters of currentCourseDetails.chapters"><a
                                            class="d-flex justify-content-between align-items-center">
                                            <span class="courses-name">{{chapters.chapterName}}</span>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="instructor" role="tabpanel">
                            <div class="courses-instructor">
                                <div class="single-advisor-box">
                                    <div class="row align-items-center">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="advisor-content">
                                                <span
                                                    class="sub-title">{{currentCourseDetails.courseDetails.tutorName}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="courses-review-comments">
                                <div class="user-review" *ngFor="let userReview of currentCourseDetails.reviews">
                                    <div class="review-rating">
                                        <div class="review-stars">
                                            <bar-rating [(rate)]="userReview.rating" [readOnly]="true"></bar-rating>
                                        </div>
                                    </div>
                                    <span class="d-block sub-comment">{{userReview.userName}}</span>
                                    <p>{{userReview.review}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>