<section class="scientist-area  pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="scientist-box-list">
                    <div class="row">
                    </div>

                    <div class="map-shape1"><img src="assets/img/shape/map-shape1.png" alt="image"></div>
                    <!-- <div class="vector-shape5"><img src="assets/img/shape/vector-shape5.png" alt="image"></div> -->
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="scientist-section-title" *ngFor="let SectionTitle of scientistSectionTitle;">
                    <span class="sub-title"><img src="assets/img/star-icon.png" alt="image"> {{SectionTitle.subTitle}}</span>
                    <h2>{{SectionTitle.title}}</h2>
                    <p>{{SectionTitle.paragraphText1}}</p>
                    <p>{{SectionTitle.paragraphText2}}</p>
                    <a href="/about-us" class="default-btn"><i class="{{SectionTitle.linkIcon}}"></i>{{SectionTitle.linkText}}<span></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="vector-shape4"><img src="assets/img/shape/vector-shape4.png" alt="image"></div>
</section>