<div class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="main-banner-content" *ngFor="let Content of mainBannerContent;">
                    <h1 class="wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">{{Content.title}}</h1>
                    <p class="wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms">
                        {{Content.paragraphText}}</p>
                    <div class="btn-box">
                        <a routerLink="/{{Content.defaultBtnLink}}" class="default-btn wow fadeInRight"
                            data-wow-delay="200ms" data-wow-duration="1000ms"><i
                                class="{{Content.defaultBtnIcon}}"></i>{{Content.defaultBtnText}}<span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12 imgestyle d-none d-sm-block  ">
                <img src="assets/img/homebanner.png"  data-speed="0.06" data-revert="true" alt="image">
            </div>
        </div>
    </div>
</div>