$white: #fff;
$primary-color: #221638;
$color2:#45414c;
$secondary-color:#9072c8;
$black:#000;

.main-banner {
    position: relative;
    z-index: 1;
    background: {
        color:$white;
        image: url(../../../../../assets/img/main-banner/bg.png);
        position: center;
        size: cover;
        repeat: no-repeat;
    };
    padding: {
        top: 365px;
        bottom: 100px;
        right: 100px;
    };
    .container-fluid {
        max-width: 1360px;
    }
    &.without-banner-animation {
        padding: {
            top: 200px;
            bottom: 250px;
        };
        .main-banner-content {
            margin-top: 0;
            margin-right: -100px;
        }
    }
}
.imgestyle{
    margin-top: -300px;
}
.main-banner-content {
    margin-top: -150px;
    margin-left: 50px;

    h1 {
        font-size: 45px;
        color: $primary-color;
        margin: {
            bottom: 18px;
            top: -10px;
        };
    }
    .btn-box {
        margin-top: 35px;

        .default-btn {
            margin-bottom: -7px;
        }
    }
}

@media only screen and (max-width: 767px) {

    .main-banner {
        margin-bottom: 60px;
        padding: {
            top: 100px;
            bottom: 0;
        };
        .container-fluid {
            max-width: 100%;
        }
        &.without-banner-animation {
            padding: {
                top: 200px;
                bottom: 0;
            };
        }
    }
    .main-banner-content {
        margin-top: 0;
        text-align: left;
        margin-right: -100px;

        h1 {
            font-size: 31px;
            margin: {
                bottom: 15px;
                top: -5px;
            };
        }
        p{
            text-align: center;
        }
        .btn-box {
            margin: {
                top: 25px;
                bottom: -10px;
            };
        }
    }
    .main-banner-image {
        margin-top: 55px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .main-banner {
        .container-fluid {
            max-width: 540px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .main-banner {
        padding: {
            top: 100px;
            bottom: 80px;
        };
        .container-fluid {
            max-width: 720px;
        }
        &.without-banner-animation {
            padding: {
                top: 200px;
                bottom: 80px;
            };
        }
    }
    .main-banner-content {
        text-align: left;
        margin: {
            top: 0;
            right: -100px;
        };
        h1 {
            font-size: 45px;
            margin: {
                bottom: 15px;
                top: -7px;
            };
        }
        p {
            max-width: 520px;
            text-align: center;
            margin: {
                left: auto;
                right: auto;
            };
        }
        .btn-box {
            margin: {
                top: 30px;
                bottom: -10px;
            };
        }
    }
    .main-banner-image {
        margin-top: 55px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .main-banner {
        padding: {
            top: 120px;
            bottom: 200px;
        };
        .container-fluid {
            max-width: 960px;
        }
        .row {
            align-items: center !important;

            .col-lg-5, .col-lg-7 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &.without-banner-animation {
            padding: {
                top: 220px;
                bottom: 200px;
            };
        }
    }
    .main-banner-content {
        margin-top: 0;

        h1 {
            font-size: 48px;
            margin: {
                bottom: 15px;
                top: -8px;
                right: -100px;
            };
        }
        p{
            text-align: center;
        }
        .btn-box {
            margin-top: 25px;
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {

    .main-banner {
        .container-fluid {
            max-width: 1160px;
        }
    }
    .main-banner-content {
        h1 {
            font-size: 48px;
        }
    }
}

@media only screen and (min-width: 1550px) {

    .main-banner {
        .container-fluid {
            max-width: 1600px;
        }
    }
    .main-banner-content {
        h1 {
            font-size: 65px;
        }
    }

}