<section class="scientist-area  pb-70 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="scientist-section-title" *ngFor="let SectionTitle of scientistSectionTitle">
                    <span class="sub-title"><img src="assets/img/star-icon.png" alt="image"> {{SectionTitle.subTitle}}</span>
                    <h2>{{SectionTitle.title}}</h2>
                    <p>{{SectionTitle.paragraphText1}}</p>
                    <p>{{SectionTitle.paragraphText2}}</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="scientist-box-list">
                    <div class="row">
                    </div>
                    <img src="assets/img/communityabout.png" alt="image">
                    <!-- <div class="map-shape1"><img src="assets/img/shape/map-shape1.png" alt="image"></div> -->
                </div>
            </div>
        </div>
    </div>
</section>

